fastapi==0.115.5
uvicorn[standard]==0.34.0
aiosqlite==0.21.0
sqlalchemy==2.0.36
sqlmodel==0.0.22
alembic==1.14.0
pandas==2.2.3
numpy==1.26.4
numba==0.60.0
python-multipart==0.0.12
aiofiles==24.1.0
restrictedpython==7.4
openpyxl==3.1.5
pydantic-settings==2.7.0
